* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    background-image: url('Background.jpeg');
    background-repeat: no-repeat;
    
}

h1{
    text-align: center;
    color: #E43D2F;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.75em;
}

section{
    padding: 15px;
    border: 1px solid black;
    color: black;
    width: 90%;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.s1{
    background-color: #F2E6FF;
}

.s2{
    background-color: #E5F6FF;
}

.s3{
    background-color: #FFE7E6;
}

p{
    font-size: 100%;
    font-size: 1.25em;
    width: 200px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}

.p1{
    background-color: #E3BBFF;
    color:#92278F;
    border: 1px solid #92278F;
}

.p2{
    background-color: #A3D7FE;
    color:#1177EE;
    border: 1px solid #1177EE;
}

.p3{
    background-color: #FFB0AC;
    color:#E43D2F;
    border: 1px solid #E43D2F;
}

.row {
    width: 100%;
}

@media (min-width: 992px){
    .col-lg-4{
        float:  left;
        border: 1px solid green;
	width: 32.33333333%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        margin-bottom: 3%;
    }
    
}

@media (min-width: 768px) and (max-width: 991px){
    .col-md-6{
        float:  left;
        border: 1px solid green;
	width: 48%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 2%;
    }
    .col-md-6:nth-child(3){
        width: 98%;
    }
}

@media (max-width: 767px){
    .col-sm-12{
	float:  left;
        border: 1px solid green;
	width: 88%;
        margin-left: 6%;
        margin-right: 6%;
        margin-bottom: 3%;
    }
}
